body {
  font-family: 'Montserrat';
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 200;
}

/* Buttton Downloads */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.iphone-image {
  margin-left: 20%;
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

@media(max-width:1028px) {
  #title {
    text-align: center;
  }

  .iphone-image {
    position: static;
    transform: rotate(0);
    margin: 10% 0;
  }
}

/*Features Sections*/
#features {
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  padding: 0% 5%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 4%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 7% 10%;
  text-align: center;
}

/* Footer Section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  margin: 0% 10%;
  padding: 7% 10%;
}

#cta h3 {
  font-size: 3rem;
}

#footer {
  text-align: center;
  padding: 5% 0 0;
}
